################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatorTest/v16
/Calculator/bin/Debug/netcoreapp3.1
/Calculator.Tests/bin/Debug/netcoreapp3.1
/Calculator.Tests/obj/Debug/netcoreapp3.1
/Calculator.Tests/obj
/CalculatorProgram/bin/Debug/netcoreapp3.1
/CalculatorProgram/obj
/.vs/CalculatorTest/DesignTimeBuild
/Data/bin/Debug/netcoreapp3.1
/Common/bin/Debug/netcoreapp3.1
